html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.sections{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
#sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
#sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    margin: 10px 0;
}
#sidebar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
#sidebar ul li a:hover {
    color: #a3a3a3;
}
#content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 220px);
}
#content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
#content h2 {
    margin-top: 50px;
    font-size: 1.5em;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
    color: #444;
}
#content p {
    line-height: 1.6;
    margin: 10px 0 30px;
}

/* 3월 24일 내용 추가 - 문환주*/

.expression{
    width:70%;
    background: #eee;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
    border-radius: 30px;
}
.moving_img{
    width: 50px;
}
.move{
    animation: move 3s linear infinite;
}
.rotate{
    animation: rotate 3s linear infinite;
}
.scale{
    animation: scale 3s linear infinite;
}
.skew{
    animation: skew 3s linear infinite;
}
.linear{
    animation:move 3s linear infinite;
}
.ease{
    animation:move 3s ease infinite;
}

.ease-in{
    animation:move 3s ease-in infinite;
}

.ease-out{
    animation:move 3s ease-out infinite;
}

.ease-in-out{
    animation:move 3s ease-in-out infinite;
}

.cubic-bezier{
    animation:move 3s cubic-bezier(0.1, 0.85, 0.86, 0.2) infinite;
}

.step{
    animation:move 3s steps(5,jump-none) infinite;
}
.step:nth-child(3){animation-timing-function:steps(5,jump-start);}
.step:nth-child(5){animation-timing-function:steps(5,jump-end);}
.step:nth-child(7){animation-timing-function:steps(5,jump-both);}
.step:nth-child(9){animation-timing-function:steps(5,jump-none);}

.direction{
    animation:move 3s ease-in-out infinite;
}
.direction:nth-child(3){animation-direction: normal;}
.direction:nth-child(5){animation-direction: reverse;}
.direction:nth-child(7){animation-direction: alternate;}
.direction:nth-child(9){animation-direction: alternate-reverse;}

.playstate{
    animation:rotate 3s linear infinite;
}
.playstate:nth-child(3){animation-play-state: running;}
.playstate:nth-child(3):hover{animation-play-state: paused;}

.playstate:nth-child(5){animation-play-state: paused;}
.playstate:nth-child(5):hover{animation-play-state: running;}

@keyframes move{
    0%{transform:translate(0px,0px);}
    100%{transform:translate(500px,0px);}
}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@keyframes scale {
    0%{transform:scale(1);}
    50%{transform:scale(1.5);}
    100%{transform:scale(0.5);}
}
@keyframes skew {
    0%{transform:skewX(0deg) skewY(0deg);}
    50%{transform:skewX(-30deg) skewY(-30deg);}
    100%{transform:skewX(30deg) skewY(30deg);}
}

